@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Quattrocento Sans', sans-serif;
}

.navbar {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgba(0, 0, 0, 0.6) !important;
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
    color: #1ebba3;
}

.heading-content {
    position: absolute;
    top: 40%;
    width: 100%;
    max-width: 100%;
}

.heading-content h5 {
    font-size: 4em;
    font-weight: 300;
    font-family: monospace;
    color: white;
}

.heading-content h1 {
    font-size: 6em;
    font-weight: 500;
    font-family: 'Lobster', cursive;
    color: white;
    -webkit-text-stroke: 0.2px black;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.heading-content p {
    font-size: 2em;
    font-weight: 300;
    color: white;
    font-family: monospace;
}

#about .display-4 {
    font-weight: bold;
    font-family: 'Quattrocento Sans', sans-serif;
}

#about .btn {
    width: 35%;
    padding: 16px;
    background-color: #000;
    border-radius: 5px;
    margin-top: 10px;
}

#about .btn a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

#about .btn:hover {
    border: 2px solid #1ebba3;
    cursor: pointer;
}

#projects .display-4 {
    font-weight: bold;
    font-family: 'Quattrocento Sans', sans-serif;
}

#projects .btn:hover {
    border: 2px solid #1ebba3;
    cursor: pointer;
}

.card-body h5 {
    font-family: Verdana;
}

.card-body p {
    font-family: monospace;
}

#contact .btn {
    color: #fff;
    width: 20%;
    font-weight: bold;
    padding: 16px;
    background-color: #000;
    border-radius: 5px;
    margin-top: 10px;
    font-family: Verdana;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #55ACEE;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #0082ca;
    color: white;
}

.fa-github {
    color: black;
}

.fa-instagram {
    color: red;
}

/*-----------Media Query------*/

@media screen and (max-width: 768px) {
    .navbar {
        letter-spacing: 0.1rem;
        padding: 7px 0;
    }
    .heading-content {
        position: absolute;
        top: 7%;
        width: 100%;
        max-width: 100%;
    }
    .heading-content h5 {
        font-size: 3em;
    }
    .heading-content h1 {
        font-size: 4em;
    }
    .heading-content p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 479px) {
    .navbar {
        letter-spacing: 0.1rem;
        padding: 7px 0;
    }
    .heading-content {
        position: absolute;
        top: 13%;
        width: 100%;
        max-width: 100%;
    }
    .heading-content h5 {
        font-size: 1.5em;
    }
    .heading-content h1 {
        font-size: 2.5em;
    }
    .heading-content p {
        font-size: 0.8em;
    }
}